# Environment and secrets
.env
.env.local
*.local.env

# IDEs and Editors
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build & compiled outputs
bin/
obj/
out/
target/
build/
dist/
__pycache__/
*.pyc
node_modules/

# OS specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs and temp files
*.log
scratch/
tmp/
temp/
